<div>
  <ion-header style="margin-top: 2.5rem;">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="back()">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Detalles de Cliente</ion-title>
      @if(visit.visit_result == null) {
        <ion-buttons slot="end">
          <ion-button (click)="finishVisit()" color="primary">
            Finalizar
            <ion-icon name="checkmark-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      }
    </ion-toolbar>
  </ion-header>
  <ion-card color="light">
    <ion-card-content class="ion-text-center">
      <h2>{{ visit.sale.client.fullname }}</h2>
      <ion-text color="medium">
        <div style="display: flex;" class="ion-justify-content-center">
          <ion-icon name="location-outline" color="medium">
          </ion-icon>
          <p>{{ visit.sale.client.business_address }}</p>
        </div>
      </ion-text>
    </ion-card-content>
  </ion-card>
  @if(!isLoading && detail.visit_result != null) {
    <ion-card color="light">
      <ion-card-content class="ion-text-center">
        <h2>Visita Completada - 
          <span [class.complete-pay-text]="status == 'Pago Completo'"
                [class.partial-pay-text]="status == 'Pago Parcial'"
                [class.impaid-text]="status=='Impaga'">
            {{status}}
          </span>
        </h2>
        <ion-text color="medium">
          <div style="display: flex;" class="ion-justify-content-center">
            <p>{{ visit.completed_at_date }}</p>
          </div>
        </ion-text>
      </ion-card-content>
    </ion-card>

    @if(!isLoading && detail.visit_result.commentary != null) {
      <ion-card color="light">
        <ion-card-content class="ion-text-center">
          <h2>Comentario</h2>
          <ion-text color="medium">
            <div style="display: flex;" class="ion-justify-content-center">
              <p>{{ detail.visit_result.commentary }}</p>
            </div>
          </ion-text>
        </ion-card-content>
      </ion-card>
    }
  }
  @if(!isLoading){
    <ion-segment value="quotas">
        <ion-segment-button value="quotas" content-id="quotas">
          <ion-label>Cuotas</ion-label>
        </ion-segment-button>
        <ion-segment-button value="visits" content-id="visits">
          <ion-label>Visitas</ion-label>
        </ion-segment-button>
    </ion-segment>
    <ion-content style="height: 100vh;">
      <ion-segment-view style="height: auto;">

        <ion-segment-content id="quotas">
            <ion-accordion-group>
              @for(quota of detail.sale.quotas; track quota.id; let quotaIdx = $index){
                <ion-accordion [value]="'quota' + quota.id">
                  <ion-item slot="header" color="light">
                    <ion-label>Cuota {{ quota.id }} - ${{ quota.amount }}</ion-label>
                  </ion-item>
                  <div class="ion-padding" slot="content">
                    <ion-list>
                      @for(quotaPayment of quota.quota_payments; track quotaPayment; let paymentIdx = $index){
                        <ion-item-sliding>
                          @if(!quotaPayment.created_date){ 
                            <ion-item-options side="start">
                              <ion-item-option color="danger" (click)="deletePayment(quotaIdx, paymentIdx, quota.id, quotaPayment.index)">
                                <ion-icon name="trash"></ion-icon>
                              </ion-item-option>
                            </ion-item-options>
                          }

                          <ion-item [class.paid-in-visit-item]="foundInVisitPayments(quotaPayment)" (click)="modifyPayment(quotaPayment, quotaIdx, paymentIdx, quota)">
                            @if(quotaPayment.created_date){
                              <ion-label>Registrado el: <span style="font-weight: 600;">{{quotaPayment.created_date}}</span></ion-label>
                            }
                            
                            <ion-label>{{quotaPayment.type}}: <span style="font-weight: 600;">${{quotaPayment.amount}}</span></ion-label>
                            <!-- @if(!quotaPayment.created_date){
                              <ion-button fill="clear" shape="round" color="danger" (click)="modifyPayment(null, quotaIdx, paymentIdx)">
                                <ion-icon name="trash" color="danger" ></ion-icon>
                              </ion-button>
                            } -->
                          </ion-item>
                          
                        </ion-item-sliding>
                      }
                    </ion-list>

                    @if(detail.visit_result == null){
                      <ion-button size="small" expand="block" fill="clear" (click)="openPaymentPopover($event, quota.id, quota)">
                        Registrar Pago
                        <ion-icon slot="end" name="add-outline"></ion-icon>
                      </ion-button>
                    }

                  </div>
                </ion-accordion>
              }
            </ion-accordion-group>
        </ion-segment-content>
  
        <ion-segment-content id="visits">
          <ion-accordion-group>
            @for(visit of detail.sale.visits; track visit){
              <ion-accordion [value]="'visit' + visit.id">
                <ion-item slot="header" color="light">
                  <ion-label>Visita {{ visit.id }}</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  Info de visita
                </div>
              </ion-accordion>
            }
          </ion-accordion-group>
        </ion-segment-content>

      </ion-segment-view>
    </ion-content>
  } @else {
    <ion-spinner name="crescent"></ion-spinner>
  }

  
</div>
