<ion-header [translucent]="true" style="margin-top: 2.5rem;">
  <ion-toolbar>
    <ion-title>
      TaionnerCobradores
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()" color="danger">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">TEST FEDE</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div id="map" style="width: 100; height: 100%;" ></div>

  <div class="fixed-right-element">
    <ion-fab-button class="fab-button" (click)="centerInSelf()">
      <ion-icon name="locate-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button class="fab-button" style="margin-top: 10px;" (click)="changeMapFollowingMode('route')">
      <ion-icon name="navigate-outline"></ion-icon>
    </ion-fab-button>
  </div>

  <div class="floating-button-container">
    <ion-button class="client-button" shape="round" fill="clear" (click)="openClientsSheetModal()" color="background">
    <!-- <ion-button class="client-button" shape="round" fill="solid" id="open-modal" color="background"> -->
      Clientes
      <ion-icon slot="end" name="chevron-up-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>
