.hidden {
    display: none;
}

.floating-button-container {
    position: fixed;
    bottom: 8vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fab-button {
    --background: rgba(0,0,0,0.5)
    --color: white
}

.client-button {
    width: 40%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 50px;
}

.fixed-right-element {
  position: fixed;
  right: 0; /* Positions the element flush with the right edge of the viewport */
  top: 25%; /* Example: Positions the element 50px from the top edge */
  width: 65px;
  height: 200px;
}

.segment-view-disabled {
    opacity: 0 !important;
}

