<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>

        <ion-title>
          Total a Pagar
        </ion-title>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content style="text-align: center;">
      <ion-label>
        <h1>${{limitToPay}}</h1>
      </ion-label>
    </ion-card-content>
  </ion-card>

  <form [formGroup]="paymentForm" (submit)="addPayment()">
    <ion-list style="max-height: 25vh; overflow-y: scroll;">
      <ion-item>
        <ion-input (ionInput)="onIonInput($event, 'amount')" [errorText]="errorTexts.amount" formControlName="amount" label="Monto" label-placement="floating" fill="solid" placeholder="Ingresar monto..." type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-select formControlName="type" [errorText]="errorTexts.type" [interface]="'popover'" (ionInput)="onIonInput($event, 'type')" label="Tipo de pago" fill="solid" labelPlacement="floating" value="">
          <ion-select-option value="Efectivo">Efectivo</ion-select-option>
          <ion-select-option value="Transferencia">Transferencia</ion-select-option>
        </ion-select>
        <!-- <input type="file" #fileInput hidden (change)="onFileChange($event)" accept="image/*"> -->
      </ion-item>
      @if(simple){
        <ion-item>
          <ion-select formControlName="config" [errorText]="errorTexts.config" [interface]="'popover'" label="Tipo de pago" fill="solid" labelPlacement="floating" value="">
            <ion-select-option value="Acumulacion">Acumular a la ultima cuota</ion-select-option>
            <ion-select-option value="Adelanto">Adelantar las proximas cuotas</ion-select-option>
          </ion-select>
          <!-- <input type="file" #fileInput hidden (change)="onFileChange($event)" accept="image/*"> -->
        </ion-item>
      }
      @if(receipts.length > 0){
        <ion-item>
          <ion-img [src]="receipts[0].url"></ion-img>
        </ion-item>
      }
    </ion-list>
    @if(receipts.length < 1 && isTransfering()){
      <!-- <ion-item style="width: 100%;"> -->
        <ion-button type="button" (click)="triggerFileInput()" fill="clear" expand="block">
          Cargar comprobante
        </ion-button>
      <!-- </ion-item> -->
    }
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button color="danger" slot="end" type="button" (click)="close()">
          Salir
        </ion-button>
        <ion-button color="primary" slot="end" type="submit">
          Confirmar
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </form>
</ion-content>
