<ion-content>
  <!-- <ion-searchbar placeholder="Search" (click)="modal.setCurrentBreakpoint(0.75)"></ion-searchbar> -->
  <ion-list>
    @for(visit of visits; track visit) {
      <ion-item (click)="pickObjectiveClient(visit.sale.client)">
        <ion-avatar slot="start">
          <ion-img src="https://i.pravatar.cc/300?u=b"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>{{ visit.sale.client.fullname }}</h2>
          <p>{{ visit.sale.client.business_address }}</p>
        </ion-label>
        <ion-label>
          <ion-button fill="clear" expand="block" shape="round">
            {{ 'A ' + visit.distance + ' Km' }}
            <ion-icon style="font-size: xx-large; margin-left: 5px;" name="navigate-circle-outline"></ion-icon>
          </ion-button>
          <!-- <ion-icon name="navigate-circle-outline"></ion-icon>
          <p>{{ 'A ' + visit.distance + ' Km' }}</p> -->
        </ion-label>
      </ion-item>
    }
  </ion-list>
</ion-content>
