<ion-header style="margin-top: 2.5rem;">
  <ion-toolbar>
    <ion-title>
      Seleccionar Credito
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- <ion-searchbar placeholder="Search" (click)="modal.setCurrentBreakpoint(0.75)"></ion-searchbar> -->
  <ion-list>
    @for(visit of clients; track visit) {
      <ion-item-sliding>
        
        <ion-item (click)="flyToClient(visit)">
          <ion-avatar slot="start">
            <ion-img src="https://i.pravatar.cc/300?u=b"></ion-img>
          </ion-avatar>
          <ion-label>
            <h2>{{ visit.fullname }}</h2>
            <p>{{ visit.business_address }}</p>
            @if(visit.distance){
              <p style="color: #0268c1;">
                {{ 'A ' + visit.distance + ' Km' }}
              </p>
            }
          </ion-label>
          <ion-grid style="text-align: right; max-width: 20vh; font-size: xx-large">
            <ion-row>
              @for(sale of visit.sales; track sale){
                <ion-col>
                  <ion-icon [name]="sale.visit.visit_result != null ? 'checkmark-circle-outline' : 'navigate-circle-outline'" [style]="{'color': sale.visit.visit_result != null ? sale.visit.visit_result.color : '#0268c1'}"></ion-icon>
                </ion-col>
              }
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="warning" (click)="markAsPending(visit)">
            <ion-icon name="time-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    }
  </ion-list>
</ion-content>
