<ion-content>
  <!-- <ion-searchbar placeholder="Search" (click)="modal.setCurrentBreakpoint(0.75)"></ion-searchbar> -->
  <ion-list>
    @for(visit of visits; track visit) {
      <ion-item-sliding>
        
        <ion-item (click)="pickObjectiveClient(visit.sale.client, visit)">
          <ion-avatar slot="start">
            <ion-img src="https://i.pravatar.cc/300?u=b"></ion-img>
          </ion-avatar>
          <ion-label>
            <h2>{{ visit.sale.client.fullname }}</h2>
            <p>{{ visit.sale.client.business_address }}</p>
          </ion-label>
          <ion-label>
            @if(visit.visit_result == null) {
              @if(visit.pending == null || visit.pending == false){
                <ion-button fill="clear" expand="block" shape="round">
                  {{ 'A ' + visit.distance + ' Km' }}
                  <ion-icon style="font-size: xx-large; margin-left: 5px;" name="navigate-circle-outline"></ion-icon>
                </ion-button>
              } @else if(visit.pending != null && visit.pending == true){
                <ion-button fill="clear" expand="block" shape="round">
                  {{ 'Pendiente' }}
                  <ion-icon style="font-size: xx-large; margin-left: 5px;" name="time-outline"></ion-icon>
                </ion-button>
              }
              
            } @else {
              <ion-button class="visited-button" fill="clear" expand="block" shape="round" disabled="true">
                {{ 'Visitado' }}
                <ion-icon style="margin-left: 5px;" name="checkmark-circle-outline"></ion-icon>
              </ion-button>
            }
            <!-- <ion-icon name="navigate-circle-outline"></ion-icon>
            <p>{{ 'A ' + visit.distance + ' Km' }}</p> -->
          </ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="warning" (click)="markAsPending(visit)">
            <ion-icon name="time-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    }
  </ion-list>
</ion-content>
